/* Taggy v0.0.4 */

div.taggy-container {
  position: relative;
}

img.taggy-img {
  max-width: 100%;
}

span.taggy-coord {
  position: absolute;
  height: 14px;
  width: 14px;
  margin-left: -7px;
  margin-top: -7px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

span.taggy-coord.text {
  margin-top: -30px;
  margin-left: -20px;
  background: none;
}
