/* Taggy v0.1.0 */

div.taggy-container {
  position: relative;
}

img.taggy-img {
  max-width: 100%;
}

span.taggy-coord {
  position: absolute;
  height: 14px;
  width: 14px;
  margin-left: -7px;
  margin-top: -7px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

span.taggy-coord.text {
  margin-top: -30px;
  margin-left: -20px;
  background: none;
}

.confirm-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  opacity: .5;
}

.confirm-box {
  cursor: default;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.confirm-box a {
  text-decoration: none;
}

.confirm-box .confirm-dialog {
  transform: translate(0, 0);
  max-width: 400px;
  padding: 0 20px 0 20px;
  margin: 10% auto;
  position: relative;
}

.confirm-box .confirm-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  font-size: 24px;
  border-radius: .20em;
  font-family: sans-serif;
}

.confirm-box .confirm-title {
  padding: 35px 30px;
  color: #000;
  margin: 0;
}

.confirm-title.taggy-sm {
  padding: 15px 20px;
}

input.taggy-input {
  height: 40px;
  font-size: 30px;
  width: 90%;
  margin-left: 4.5%;
  margin-bottom: 5%;
}

.confirm-box .button {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  width: 50%;
  position: relative;
  padding: 25px;
  text-align: center;
}

.confirm-box .accept {
  background-color: #34BC9D;
  border-radius: 0 0 0 .20em;
}

.confirm-box .accept:hover { background-color: #46CFB0; }

.confirm-box .cancel {
  background-color: #fc7169;
  border-radius: 0 0 .20em 0;
}

.confirm-box .cancel:hover { background-color: #fc8982; }
